###########################################
         "FANS JKT48 ONE FOR ALL"

LEADER PICT GROUP 01 : RAMDHAN SUWANDI
LEADER PICT GROUP 02 : WISNU PRASETYO
ADMIN PICT GROUP     : MOCH HABIBURROKHIM

###########################################

FANS JKT48 ONE FOR ALL Group , PENDING.. open ticket 
Reply Ticket: ECH20200516.260896 2020-06-29 07:20:27


command : REQ PING UP

status : PENDING

rtl_ket : #20200516 - CLOSE - DEVICE LOCATOR
#20200516 - REQ. PING UP - PENDING - *FANS JKT48 ONE FOR ALL Group*  STATUS GITHUB: APPROVED BY SPV Y817007087 PIC NAME: HABIBMAN  JABATAN: ADMIN PICT GROUP , PIC PHONE: 082142971348

 PROBLEM: absent record failure

TEST PING : PENDING
TEST UP   : PENDING
STATISTIC : PENDING
BACKUP    : PENDING
RECORD    : PENDING

APPROVED : OFFLINE

###########################################
